


//  ================================ FOOTER ============================ 


footer {
	background-color: #10191c;
	padding: 5.8125rem 0 5.3125rem;
	.ft-logo {
		text-align: center;
		padding: 0;
	}
}